# Dependency directories
node_modules/

# Compiled output


# Environment variables
.env
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# IDEs
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db